/* Write your CSS here */
* {
  font-family: 'Roboto';
}
.app-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cash-withdrawal-container {
  background-color: #150b3e;
  width: 80%;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 18px;
  max-width: 350px;
}
.user-details-container {
  display: flex;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}
.initial {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}
.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
}
.balance-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.your-balance {
  display: flex;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}
.balance {
  color: #d4d2db;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.currency {
  color: #585076;
  font-size: 12px;
  font-weight: 500;
}
.withdraw {
  color: #d4d2db;
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}
.choose-sum {
  font-size: 12px;
  margin-bottom: 12px;
  color: #585076;
  font-weight: 500;
}
.denominations-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .cash-withdrawal-container {
    background-color: #150b3e;
    width: 50%;
    border-radius: 16px;
    padding-top: 48px;
    padding-left: 36px;
    padding-bottom: 16px;
    padding-right: 36px;
    max-width: 422px;
  }
  .initial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 64px;
    width: 64px;
    border-radius: 32px;
  }
  .name {
    color: #d4d2db;
    font-family: 'Roboto';
    font-size: 20px;
    margin-left: 16px;
  }
  .your-balance {
    display: flex;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
  }
  .balance {
    font-size: 32px;
  }
  .currency {
    font-size: 12px;
  }
  .withdraw {
    font-size: 24px;
    margin-top: 24px;
  }
  .choose-sum {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
